.uk-container{
	min-height: 500px;
}
/*Navbar*/
li{
	list-style: none;
}
a{
  text-decoration: none;
}
.uk-navbar-nav>li>a {
	text-transform: none !important;
}
.uk-alert-success {
	background: #dcefe8;
	color: #38bd8b;
	border-radius: 10px;
}
.uk-navbar-dropdown.uk-open {
	text-align: center;
	padding: 1px;
}
.uk-navbar-dropdown {
	width: 150px !important;
}
.uk-navbar-dropdown-nav>li>a {
	color: #757575 !important;
}
.uk-navbar-dropdown::after {
	border: 10px solid transparent;
	border-bottom-color:  #ffffff;
	content: '';
	display: block;
	height: 0;
	right: 20px;
	position: absolute;
	top: -20px;
	width: 0;
}
[class*=uk-navbar-dropdown-bottom] {
	margin: 0 !important;
}
.avatar{
	border-radius: 100%;
}
